*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
nav{
   position:relative;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    padding: 15px;
    margin: auto;
    
}
.bg-light{
    background-color: #ffffff00;
}
.bg-color{
    background-color: #f6f5f4;
}
.padding-top-bottom{
    padding: 2% 0%;
}
.align-items-flex{
    align-items: flex-start;
}
.align-items-center{
    align-items:center;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.gap {gap: 25px;;

}
.gap-1{
    gap: 50px;
}
.text-color{
    color: #bdbbbb;
    font-weight: 300;
}
.join-btn{
    background-color: #ffffff;
    color: #bdbbbb;
    padding: 10px 24px;
    border-radius: 20px;
    border: none;
    font-weight: 300;
    gap: 15px;

}
.start-btn{
    background-color: #f9c519;
    color: #575353;
    padding: 10px 24px;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    cursor: pointer;
    gap: 15px;
}
.start-btn:hover{
   background-color: #d0a928;
}
.sec-size-1{
    width: 100%;
    height: 528px;
    background-color: #ffffff ;
}
.banar-img{
    width: 67%;
    height: 544px;
    float: right;
    position: absolute;
    left: 380px ;
    top: 134px;
}
.img-inf{
    background-color: #FFCC01;
    width: 620px;
    margin: 0px 20%;
    height: 85px;
    position: absolute;
    top: 593px;
    left: 471px;
}
.call{
    align-items: center;
    padding: 30px;
    gap: 36px;
    position: relative;
    top: 2px;
    left: 42px;
}
.call i{
    color: #ffffff;
    font-size: 22px;
}
.call p{
    color:#1f373d ;
    font-size: 16px;
}
.title{
    color: #1F373D;
    font-size: 60px;
    position: relative;
    z-index: 999;
    left: 160px;
}
.search-box{
    background-color: #ffffff;
    border-radius: 2px;
    max-width: 360px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top:65px;
    left: 4px;
    box-shadow: 0px 0px 8px gray;
}
.search-1{
    width: 75%;
    padding: 25px 40px;
    border: none;
    outline: none;
    font-size: 15px;
    float: left;
}
.search-btn-1{
    width: 25%;
    background-color: #FFCC01;
    color: #1F373D;
    padding: 25px 10px;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    float: left;
}
.scroll{
    position: relative;
    right: 573px;
    top:148px
}
.scroll-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #8a97ab;
    text-decoration: none;
}

.scroll-down span{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 13px;
}
.title-sec2 {
   font-size: 40px;
    font-weight: 700;
    color: #1F373D;
}
.card{
   background-color: #ffffff;
   width: 380px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
   position: relative;
   overflow: hidden;
}
.card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
}
.padding{
    padding: 25px 20px;
}
.card-title{
    font-size: 16px;
    font-weight: 400;
    color: #1f373d;
    line-height: 1.4;
}
.card-title-2{
    font-size: 200px;
    font-weight: 400;
    color: #1f373d;
    line-height: 1.4;
    position: relative;
    bottom: 140px;
    right: 83px;
}
.price{
    font-size: 18px;
    font-weight: 700;
    color: #FFCC01;
    line-height: 48px;
}
.icon {
    font-size: 15px;
    color: #8a94a6;
    display: flex;
    align-items: center;
    gap: 6px; 
    font-weight: 500;
}
.box-size{
    background-color: #ffffff;
    border-radius: 5px; 
    max-width: 360px; 
    width: 100%;
    overflow: hidden;
}
.search{
    flex: 1;
    width: 75%;
    padding: 25px 40px;
    border: none;
    outline: none;
    font-size: 15px;
    float: left;
}
.search-btn{
    width: 25%;
    background-color: #FFCC01;
    color: #1F373D;
    padding: 25px 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    float: left;
}
.btn{
    background-color: #ffffff;
    color: #1f373d; 
    font-size: 15px;
    font-weight: 700;
    padding: 25px 30px; 
    border-radius: 5px; 
    text-align: center;
}
.title-work h3{
    font-size: 40px;
    font-weight: 700;
    color: #1F373D;
    margin-top: 48px;
}
.title-work p{
    font-size: 13px;
    margin-top: 20px;
    line-height: 30px;
    color: #8a94a6;
    padding: 2px 0px 50px;
}
.work-card{
   background-color: #ffffff;
   width: 380px;
   height: 445px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
   position: relative;
   overflow: hidden;
   transition: 0.3s;
}
.num{
    display: flex;
    gap: 16px;
    position: relative;
    bottom: 140px;
}
.topic{
    color: #1F373D;
    font-size: 13px;
    line-height: 32px;
    font-weight: 100;
    padding: 0px 0px 0px 37px;
    position: relative;
    bottom: 93px;
}
.link{
    border-bottom: 2px black solid;
    position: relative;
    bottom: 40px;
    left: 22px;
    font-size: 14px;
    color: #1F373D;
}
.link-pad{
    padding-left: 15px;
}
.sec-size{
    width: 100%;
    padding: 0px 110px;
    gap: 125px;
}
.sec-size-2{
    width: 100%;
    padding: 0px 4px 0px 108px;
    gap: 125px;
    position: relative;
    right: 105px;
}
.title-sec3{
    width: 80%;
    padding: 15px;
    margin: auto;
}
.title-sec3 h3{
    font-size: 40px;
    font-weight: 700;
    color: #1F373D;
}
.title-sec3 p{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    letter-spacing: 0.025em;
    color: #8a94a6;
}
.flex{flex: 1;}
.flex-column{
    flex-direction: column;
}
.text-content{
    flex: 1;
    gap: 40px;
}
.block-title {
    font-size: 22px;
    font-weight: 200;
    color: #1f373d;
    padding-top: 21px;
    margin-bottom: 8px;
}
.block-paragraph {
    font-size: 13px;
    color: #8a94a6;
    line-height: 1.6;
    padding: 7px 144px 23px 0px;
    margin-bottom: 15px;
}
.inf{
    background-color: #FFCC01;
    width: 262px;
    margin: 0px 20%;
    height: 60px;
    position: absolute;
    top: 230px;
    right: 479px;
}
.loc{
    align-items: center;
    padding: 15px;
    gap: 7px;
    position: relative;
    top: 2px ;
    left: 10px ;
}
.loc i{
    color: #ffffff;
    font-size: 22px;
}
.loc p{
     color:#1f373d ;
     font-size: 16px;
}
.inf-2{
    background-color: #FFCC01;
    width: 262px;
    margin: 0px 20%;
    height: 60px;
    position: absolute;
    top: 251px;
    left: 743px;
}
.loc{
    align-items: center;
    padding: 15px;
    gap: 7px;
    position: relative;
    top: 2px ;
    left: 10px ;
}
.loc i{
    color: #ffffff;
    font-size: 22px;
}
.loc p{
     color:#1f373d ;
     font-size: 16px;
}
.card-paragraph{
     font-size: 13px;
    color: #8a94a6;
    line-height: 1.6;
    margin-top: 26px;
    margin-bottom: 15px;
}
.margin-top{
    margin-top: 80px;
}
.btn-2{
    background-color: #1F373D;
    color: #ffffff;
    width: 312px;
    font-size: 15px;
    font-weight: 700;
    padding: 25px 30px;
    text-align: center;
    position: relative;
    top: 27px;
}
.work-card:hover{
    background-color: #FFCC01;
}